# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment (no subir secretos)
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Logs y cache
*.log
npm-debug.log*
.pnpm-debug.log*
.cache/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel